body {
	padding: 0;
	margin: 0;
}

	@media (min-width: 600px) {
.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7 {
	display: flex;
	align-items: stretch;
	flex-direction: row;
}

/*flex-basis: 32%;*/

.container-1 div, .container-2 div, .container-3 div, .container-4 div, .container-5 div, .container-6 div, .container-7 div 
{
	padding: 0px 0px 25px 0px;
	border: 2px solid rgb(0, 0, 0);
}
.box-1 {
	flex: 1;
	order: 1;
	height: 70px;
	background-color: rgb(219, 214, 206);
	font-size: 25px;
	font-stretch: ultra-condensed;
	font-family: sans-serif;
	text-align:  center;

}
.box-2 {
	flex: 2; 
	order: 2;
	height: 70px;
}
/*=========================1==========================*/
.box-3 {
	flex: 5;
	order: 1;
	height: 600px;
	background-image: url(/img/face.webp);
	background-position-x: center;
	background-repeat: no-repeat;
    min-width: 400px;
    height: auto;
}
.box-4 {
	flex: 4; 
	order: 2; 
	height: 600px;
}
.box-5 {
	flex: 2.1; 
	order: 3;
	height: 600px;
}
/*==========================2=========================*/
.box-6 {
	flex: 3;
	order: 1;
	height: 500px;
}
.box-7 {
	flex: 4;
	order: 2; 
	height: 500px;
	background-color: rgb(219, 214, 206);
}
.box-8 {
	flex: 3; 
	order: 3;
	height: 500px;
}
/*==========================3=========================*/
.box-9 {
	flex: 3;
	order: 1;
	height: 400px;
	background-color: rgb(228, 240, 255)
}
.box-10 {
	flex: 2.5; 
	order: 2; 
	height: 400px;
}
.box-11 {
	flex: 2; 
	order: 3;
	height: 400px;
	background-color: rgb(0, 0, 0)
}
/*==========================4=========================*/
.box-12 {
	flex: 1;
	order: 1;
	height: 400px;
}
.box-13 {
	flex: 1; 
	order: 2; 
	height: 400px;
}
.box-14 {
	flex: 1; 
	order: 3;
	height: 400px;
}
/*============================5=======================*/
.box-15 {
	flex: 1;
	order: 1;
	height: 70px;
}
.box-16 {
	flex: 1; 
	order: 2; 
	height: 70px;
}
.box-17 {
	flex: 1; 
	order: 3;
	height: 70px;
}
/*=============================6======================*/
.box-18 {
	flex: 1;
	order: 1;
	height: 70px;
}
/*=============================7======================*/