body {
	margin: 0;
	padding: 0;
}

	@media (min-width: 600px) {
.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7 {
	display: flex;
	align-items: stretch;
	flex-direction: row;
	justify-content: center;
}
}

.container-1, .container-2, .container-3, .container-4, .container-5, .container-6, .container-7 {
		display: flex;
		align-items: stretch;
		flex-direction: row;
		justify-content: center;
}
.box-1, .box-2, .box-3, .box-4, .box-5, .box-6, .box-7, .box-8, .box-9, .box-10, .box-11,.box-12,.box-13,.box-14,.box-15,.box-16,.box-17,.box-18 {
	border: 1.5px solid rgb(0, 0, 0);
}
.box-1 {
	flex: 1;
	order: 1;
	height: 100px;
	background-color: rgb(219, 214, 206);
	font-size: 25px;
	font-stretch: ultra-condensed;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: center;

}
.box-2 {
	flex: 2; 
	order: 2;
	height: 100px;
	font-size: 25px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center; 
	justify-content: center;
	padding: 0px 0px 0px 150px;
}
.bottom {
padding: 0px 100px 0px 0px;
}
/*li {
	flex-direction: column;
	padding: 0px 100px 0px 0px;
}*/
/*=========================1==========================*/
.box-3 {
	flex: 2.5;
	order: 1;
	height: 600px;
	background-image: url(./img/face2.jpg);
	background-position-x: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
	min-width: 450px;

}
.box-4 {
	display: flex;
	flex-direction: column;
	flex: 4; 
	order: 2; 
	height: 600px;
	font-size: 40px;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
	align-items: center; 
	justify-content: center;

}

.box-5 {
	flex: 2.3; 
	order: 3;
	height: 600px;
	background-image: url(./img/table.webp);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-width: 450px;
	 
}
/*==========================2=========================*/
.box-6 {
	flex: 3;
	order: 1;
	height: 500px;
	background-image: url(./img/gif.gif);
	background-position-x: center;
    min-width: 400px;
	 height: auto;
}
.box-7 {
	flex: 4; 
	order: 2; 
	height: 600px;
	font-size: 35px;
	font-family: Times, 'Times New Roman', serif;
	background-color: rgb(219, 214, 206);
}
p {
	text-align: center;
}
h5 {
	text-align: center;
}
.box-8 {
	flex: 3; 
	order: 3;
	height: 500px;
	background-image: url(./img/dog.webp);
	background-position-x: center;
   min-width: 400px;
	height: auto;
}
/*==========================3=========================*/
.box-9 {
	flex: 3;
	order: 1;
	height: 400px;
	background-color: rgb(228, 240, 255);
	font-size: 25px;
}
.box-10 {
	flex: 2.7; 
	order: 2; 
	height: 400px;
	background-image: url(./img/frame.webp);
	background-position-x: center;
	background-repeat: no-repeat;
   min-width: 400px;
	height: auto;
}
.box-11 {
	flex: 2.6; 
	order: 3;
	height: 400px;
	background-color: rgb(27, 27, 27);
	color: white;
	font-size: 20px;
	font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul, li {
	text-align: center;
	margin: 40px 100px 0px 100px;
}
/*==========================4=========================*/
.box-12 {
	flex: 1;
	order: 1;
	height: 400px;
	background-image: url(./img/snickers.webp);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
   min-width: 400px;
	height: 500px;
}
.box-13 {
	flex: 1; 
	order: 2; 
	height: 500px;
	font-size: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}
.box-14 {
	flex: 1;
	order: 3;
	height: 400px;
	background-image: url(./img/bear.webp);
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
   min-width: 400px;
	height: 500px;
}
.box-15 {
	flex: 1;
	order: 1;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-family: 'Franklin Gothic Medium';
}
.box-16 {
	flex: 1; 
	order: 2; 
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-family: 'Franklin Gothic Medium';
}
.box-17 {
	flex: 1; 
	order: 3;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	font-family: 'Franklin Gothic Medium';
}
/*=============================6======================*/
.box-18 {
	flex: 1;
	order: 1;
	height: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*=============================7======================*/